.tableQuestion {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background: #eee;
    overflow-x: auto;
}

.thQuestion, .tdQuestion {
    text-align: center;
    vertical-align: top;
    border: 4px solid #ddd;
    padding: 0.5em;
}

.thQuestion {
    font-weight: bold;
    background-color: #333;
    color: white;
}

.trQuestion:nth-child(even) {
    background-color: #f2f2f2;
}

tr:first-child {
    font-weight: bold;
    background-color: #ffc107;
}

.tdQuestion {
    padding: 0.3em;
    transition: background-color 0.3s ease;
}