<div class="container">
    <div class="container h-100">
        <div class="d-flex justify-content-center pt-5">
            <div class="login-cart">
                <div class="logo-cart">
                    <div class="logo-cont">
                        <img src="assets/img/logoSinFondo.png"
                            class="brand_logo" alt="Logo">
                        <img src="assets/img/smartFCLogo.png" class="txt-logo" alt="Logo" >
                    </div>
                </div>
                <div class="signupFrm"v>
                    <form #frmLogin="ngForm" >
                        <div class="inputContainer">
                            <input type="email" class="inp-emailtxt" name="correo_electronico" id="correo" value="" placeholder="Correo Electronico" ngModel required>
                            <label for="correo" class="label">Correo Electronico</label>
                        </div>
                        <div class="inputContainer">
                            <input type="password" class="inp-passtxt" name="contrasena" id="pass" value="" placeholder="Contraseña" ngModel required>
                            <label for="pass" class="labelcx">Contraseña</label>
                        </div>
                    </form>
                    <div class="" >
                            <div class="text-danger text-center" *ngIf="error1">El correo o la contraseña son incorrectos</div>
                            <div class="text-danger text-center" *ngIf="error2">El usuario o la contraseña son incorrectos</div>
                            <div class="text-danger text-center" *ngIf="error3">Error Servidor</div>
                    </div>
                </div>
                <div>
                    <button class="btnlogin" (click)="onLoginDocente(frmLogin)">Iniciar sesión</button>
                </div>
                <div>
                    <button class="btnlogin" (click)="onLoginVisitante()">Sincroniza datos usario</button>
                </div>
                <div>
                    <button class="btnlogin" (click)="onLoginAdmin(frmLogin)">Login como Administrador</button>
                </div>
                <div class="txtcuenta">
                    <a > ¿No tienes cuenta? <a name="button" class="txtreg" routerLink="/registroProfesor">Registrate</a></a>
                </div>
                <div class="mt-4 mx-0">
                    <!--<div class="d-flex justify-content-center links">
                        <a href="#">Olvidastes tu contraseña?</a>
                    </div>-->
                    <div class="endlogin">
                        <div class="txtservidor"><span data-toggle="modal" data-target="#mimodalejemplo">Servidor:</span>
                            <span class="text-info pl-1" *ngIf="correctoIP">Conectado</span>
                            <span class="text-danger pl-1" *ngIf="errorIP">Desconectado</span>
                        </div>
                        <img src="assets/img/downloadApp1.png" class="imapp"  alt="Logo"  (click)="downloadApp()">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Ingresar IPServidor-->
    <div class="modal fade" id="mimodalejemplo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Configuracion IP del Servidor</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form #frmIPS="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputIPServer" class="">Ingresa la IP del Servidor:</label>
                            <input type="text" name="IPServer" class="form-control col-md-5" id="inputIPServer"
                                placeholder="IP Servidor" required [(ngModel)]="IPServer">
                        </div>
                        <a><small class="text-muted">Nota:
                        </small></a><br>
                        <a><small class="text-muted">- Si no sabe la iderección IP del servidor, consulta con el Administrador encargado 
                                para que te la proporcione.
                        </small></a><br>
                        <a><small class="text-muted">- Si no logras conectarte, consulta con el Administrador si el servidor se encuentra 
                                en funcionamiento.
                        </small></a>
                    </div>
                </form>
                <div class="modal-footer justify-content-md-center no-gutters bg-light py-1">
                    <a class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal" data-toggle="modal" data-target="#mimodalejemplo2" (click)="actualizarIPServer(frmIPS)">Ingresar IP</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmar IP Ingresado y Funcionando -->
    <div class="modal fade" id="mimodalejemplo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-info" *ngIf="correctoIP">
                    IP Correcta. Se ha conectado con el servidor.
                </div>
                <div class="modal-body text-danger" *ngIf="errorIP">
                    No ha sido posible conectarse con el servidor. Verifica que la IP introducida es correcta.
                </div>
            </div>
        </div>
    </div>

</div>